* {
    margin: 0;
    padding: 0;

}

body {
    overflow-x: hidden;
}

.main {
    position: relative;
    height: fit-content;
    overflow: hidden;
}

center {
    width: 100%;
    height: fit-content;
    margin-top: 87px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    
    width: 100%;

}

.banner {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.577);
    z-index: 90;

}

.bancontent {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    flex-direction: row;
    top: 0;

    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
}

.logo {
    background-image: url(Pictures/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    margin-top: -15px;

}

.tex {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.cont {
    display: flex;
    margin-right: 30%;
}

.log {
    display: flex;

}

.tex a {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    letter-spacing: .43px;
    padding: 15px 20px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    text-transform: uppercase;
    display: inline;
    color: #fdfdfd;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.38;
    transition: 0.5s;
}

.cont a:hover {
    color: #a0ca3f;
}

.tex p {
    margin-top: 10px;
    margin-right: 50px;
}

.tex p a {
    font-weight: 700;
    font: bolder;
    font-size: 20px;

    color: rgb(223, 223, 223);
    margin-left: 10px;
}

.cover {
    margin: auto;
    overflow-x: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background-color: #0000004b;
    border-radius: 10px;
}


.Zwitavid {
    width: 100vw;
    height: 80vh;
    object-fit: cover;

    margin-top: 4.8%;

}

.blureee {
    padding-top: 200px;
    display: flex;
    flex-direction: column;

    

}


.cover h1 {
    font-family: Playfair Display, sans-serif;
    color: #deb80f;
    text-align: center;
    font-size: 4vw;
    line-height: 1.08;
    letter-spacing: .92px;
    font-weight: 700;
    margin-bottom: 1vw;
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
}

.cover p {
    text-align: center;
    color: #fff9ed;
    font-family: Montserrat, sans-serif;

    margin-bottom: 1vw;

}

.cover .para2 {
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
    font-weight: 500;
    font-size: 0.8vw;
}

.cover .para1 {
    margin-bottom: 1vw;

    text-align: center;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 1.7vw;
    text-transform: capitalize;
    letter-spacing: 6px;
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
}

.cover a {
    text-decoration: none;
    color: #2e3330;
    background-color: #d0aa47;
    padding: 12px 30px;
    font-size: 0.8vw;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    text-align: center;
    letter-spacing: 2.82px;
    transition: all .3s ease;
    margin: auto;
    margin-bottom: 10vw;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cover a:hover {
    background-color: #87b936c0;
    color: #fff9ed;
    scale: 110%;
}
.bancontent i{
    
    color: white;
    cursor: pointer;
    padding: 15px 30px;
}
.parent{
    display:none ;
}
.parent:hover .menu{ 
    display: flex;

}
.menu{
    background-color: #404040;
    display: none;
    flex-direction: column;
    position: absolute;
}
.menu a{
    padding: 10px 20px;
}
.Sec2 {

    width: 100vw;
    background-color: #FBF9F4;
    display: flex;
    
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 150px;

}
.Sec4 {

    width: 100vw;
    background-color: #FBF9F4;
    display: flex;
    
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 150px;

}


.Sec2 h1 {
    font-family: 'BodoniFLF';
    font-size: 70px;
    line-height: 70px;
    font-weight: 100;
    color: #404040;
    margin: 4rem 0;
    width: 100%;

}
.Sec4 h1 {
    font-family: 'BodoniFLF';
    font-size: 2.3vw;
    line-height:3vw;
    font-weight: 500;
    color: #404040;
    margin: 4rem 0;
    width: 90%;

}

.fiddy {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.Sec2 img {
    width: 60%;
    margin: 4rem 0;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.Sec4 img {
    width: 50%;
    margin: 2rem 3rem;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
.Sec2 .wiiid{
    width: 100%;
}


.Sec3 img:hover {
    scale: 105%;
}

.Sec2 font {
    display: block;
    color: #000;
    font-weight:900;
    font-family: 'Andale Mono';
    line-height: 2em;
    font-size: 1.2rem;
    letter-spacing: -.5px;
    width: fit-content;
    margin: 1rem 0 1rem;
    border-bottom: 3px dashed black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.357);
}
.Sec4 font {
    display: block;
    color: #000;
    font-weight:900;
    font-family: 'Andale Mono';
    line-height: 2em;
    font-size: 1rem;
    letter-spacing: -.5px;
    width: 90%;
    margin: 1rem 0 1rem;
    
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.357);
}

.Sec2 p {
    font-family: 'Andale Mono';
    font-weight: 600;
    line-height: 2.5em;
    font-size: 1.1rem;
    width: 100%;

}

.Sec4 p {
    font-family: 'Andale Mono';
    font-weight: 600;
    line-height: 2.5em;
    font-size: 1.1rem;
    width: 90%;

}

.drap {
    margin-top: 15px;
}

.drop a {
    display: block;

}

.drop a:hover {
    background-color: grey;
}
.menu a:hover {
    background-color: grey;
    
    color: #a0ca3f;
}

.drop {
    display: none;
    position: absolute;
    background-color: #404040;

}
.drop1 {
    display: none;
    position: absolute;
    background-color: #404040;

}

.drap:hover .drop {
    display: block;
}

.wal {
    height: 100vh;
    background-image: url(Pictures/818354.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wal .cover {
    margin: auto;
    overflow-x: hidden;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    backdrop-filter: blur(0px);
    border-radius: 10px;
}

.wal .para1 {
    color: white;
}

.Sec2 .full {
    width: 80%;
    font-size: 50px;

}

.Sec2 .ful {
    width: 50%;
}

.container {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ful h2 {
    margin: 0px 30px 30px;
}

.con {
    margin: 100px 0;
    display: flex;
    justify-content: space-between;

}

.Sec3 img {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 20px;
    transition: 0.2s;
}

.Sec3 .big {


    margin-top: 20px;
}

.Sec2 .big {
    width: 50%;
    margin: 10px 60px;
}

.Sec3 {
    min-height: 100vh;
    background-color: #fef7e6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.products {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.products button{
    margin-bottom: 80px;
}

.back {
    width: 100%;
    height: fit-content;
    background: url(Pictures/818354.jpg) no-repeat fixed center;
    background-size: cover;
    margin-bottom: 200px;
}

.products{
    width: 100%;
 
}
.opace{
    width: 100%;
    height: 100%;
    padding: 100px 0;
    background-color: #3a3a1a59;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.opace img{
    width: 100%;
}

.products h1{
    padding: 100px;
    color: #000;

    font-family: 'Andale Mono';
    line-height: 1.7em;
    font-size: 2rem;
    letter-spacing: -.5px;
    margin: 1rem 0 1rem;
}
.prod{
    width:23%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 0.2s;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.prod img{
    margin-bottom: 20px;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    overflow: hidden;
    
}
.prod font{
    
    padding: 10px 30px;
    margin-top: 10px;
}
.prod button{
    padding: 20px;
    
}
.prod a{
    background-color: #000;
    padding: 20px 40px;
    text-decoration: none;
    color: white;
    border-radius: 40px;
    font-family: 'Andale Mono';
    font-weight: 500;
    transition: 0.2s;
    border: 2px solid black;
}
.prod a:hover{
    
    background-color: rgba(0, 0, 0, 0.475);
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
.prod img:hover{
    scale: 105%;
}

.heig {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.heig1 {
    min-height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 60px;

}

.heig2 {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.buuut {

    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.buuut a {
    padding: 15px 50px;
    background-color: #d5ad5c;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.buuut a:hover {
    background-color: #87b936a0;
    color: #fff9ed;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.buuut1 {

    width: 100%;
    display: none;
    text-align: center;
    justify-content: center;
}

.buuut1 a {
    padding: 15px 50px;
    background-color: #d5ad5c;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.buuut1 a:hover {
    background-color: #deb80f;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.heig font {
    display: block;
    color: #000;

    font-family: 'Andale Mono';
    line-height: 1.7em;
    font-size: .95rem;
    letter-spacing: -.5px;
    margin: 1rem 0 1rem;
}

.heig h2 {
    margin-bottom: 40px;
    font-family: "Cormorant Garamond", serif;
    font-size: 2.5rem;
    font-weight: 500;
}

.Sec3 .bol {

    display: block;
    color: #000;
    font-family: 'Andale Mono';
    line-height: 1.7em;
    font-size: .95rem;
    letter-spacing: -.5px;
    margin: 1rem 0 1rem;
    font-weight: 700;
}

.empty {
    height: 180px;
}

.zaza {
    display: none;
    color: #000;

    font-family: 'Andale Mono';
    line-height: 1.7em;
    font-size: 4vw;
    letter-spacing: -.5px;
    margin-bottom: 15px;
}

.heig .zaza1 {
    display: none;
    color: #000;
    font-weight: 700;
    font-family: 'Andale Mono';
    line-height: 1.7em;
    font-size: 4vw;
    letter-spacing: -.5px;
    margin: 1rem 0 1rem;
}

.hid {
    display: none;
}









@media(max-width:1024px) {
    .Sec2 h1 {
        font-size: 7vw;
        line-height: normal;
    }
    .bancontent i{
        display: block;
    }
    

    .Sec2 .fiddy font {
        width: 85%;
        font-size: 2.7vw;
        font-weight: 700;
        margin: 5vh 0;
    }

    .Sec2 .ful {
        width: 85%;
    }

    .Sec2 .fiddy p {
        font-size: 2.3vw;

    }


    .cont {
        margin: 0;

    }

    .tex {
        justify-content: center;
    }

   .cover a{
    margin: 14px auto;
    font-size: 12px;
   }
   .blureee h1{
    font-size: 50px;
   }
   .blureee .para2{
    font-size: 15px;
   }
   .blureee .para1{
    font-size: 40px;
   }
 

}
@media (max-width:1350px) {

    .fiddy{
        width: 90%;
    
    }
    .fiddy img{
        width: 80%;
        margin: 80px 0;
    }
    .parent{
        display: block;
       
    }
    .cont{
        display: none;
    }
}
@media (max-width:1550px) {
    .Sec3 {
        justify-content: space-evenly;
    }

    .heig,
    .heig1,
    .heig2 {
        height: fit-content;
        width: 30%;
        justify-content: center;
        padding: 0;

    }

    .heig font {
        display: none;
    }

    .empty {
        display: none;
    }

    .zaza {
        display: block;
        text-align: center;
    }

    .Sec3 .big {
        margin: 0;
    }

    .Sec3 img {
        width: 100%;
    }

    .Sec3 .big {
        display: none;
    }

    .Sec3 .hid {
        display: block;
    }

    .buuut {
        margin-top: 35px;
    }

}

@media (max-width:752px) {
    .Sec3 {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .heig,
    .heig1,
    .heig2 {
        width: 80%;
        margin: 80px 0;
    }

    .zaza {
        display: none;
    }

    .heig .zaza1 {
        display: block;
        text-align: center;
    }

    .buuut {
        display: none;
    }

    .buuut1 {
        margin: 200px 0 0;
        display: flex;
    }
    .opace{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .prod{
        width: 85%;
        margin: 20px;
    }
    .back{
        height:fit-content;
    }
}

@media(max-width:1400px) {
    .Sec2 .full {
        font-size: 3vw;
    }

    .con {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #7b7d780c;
        border-radius: 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

}